@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
html {background-image: url(back.jpg);}

body {
    width: 700px;
    height: 400px;
    display: block;
    margin: 180px 0 0 450px;
}
body {
    background-color: rgb(97, 159, 213);
    font-family: 'Acme', sans-serif;
    color: azure;
    letter-spacing: 3px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 5px 5px whitesmoke;
}
.wrapper {
    position: relative;
    left: 200px;
    top: -2px;
}
h1 {
    font-size: 70px;
    text-decoration: underline overline;
    text-shadow: 2px 2px #ff0000;
}
h2 {
    font-size: 40px;
    margin-top: -30px;
    text-shadow: 2px 2px #070606;
}
p {
    font-size: 50px;
    margin-top: -30px;
    margin-left: 80px;
    text-shadow: 2px 2px #070606;
}
button {
    position: relative;
    top: -50px;
    right: 40px;
    font-size: 40px;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(18, 8, 199, 0.2), 0 6px 20px 0 rgba(43, 9, 238, 0.19);
    color: rgb(193, 60, 60);
    text-shadow: 2px 2px #862929;
    font-family: 'Acme', sans-serif;
}
button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #6809dc;
    color: white;
  }